.user-profile{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.profile-links{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.user-profile-nav{
    display:flex;
    width: 100%;   
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-back);
}

.user-profile-nav-image-cont{
    margin: 0 2rem;
}

.user-profile-nav-image{
    height: 2rem;
    border-radius: 4px;
    margin: .8rem;
}

.user-profile-nav-text-cont{
    color: var(--primary-fore);
    text-transform: capitalize;
    font-weight: 500;
}


.user-profile-body-part--1{
    display: flex;
    flex-wrap: wrap;
}

.user-profile-body{
    background-color: var(--secondary-back);
    padding: 4rem;
    flex: 1;
}

.user-profile-body-part--1-profile,.user-profile-body-part--1-cover{
    flex: 0 0 auto;
    width: 50%;
}

.user-profile-body-part--1-profile-image-cont,.user-profile-body-part--1-profile-image{
    height: 5rem;
    border-radius: 15px;
}

.user-profile-image-link-cont,.user-profile-image-link-cont-img{
    height: 5rem;
    border-radius: 15px;
}

.sp-img{
    height: 2rem;
    width: 1rem;
    margin-right: 20px;
    margin-left: -2px;
}

.user-profile-body-part--1-profile-brand{
    color: var(--secondary-fore);
    font-weight: 700;
    margin-top: 20px;
    font-size: 1.2rem;
}

.user-profile-body-part--1-cover-image-cont{
    height:  100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.user-profile-body-part--1-cover-image{
    flex: 1;
    max-height: max-content;
    max-width: 67%;
    border-radius: 10px;
}

.user-profile-body-part--1-profile-intro{
    color: var(--secondary-fore);
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 400;
    padding-right: 3rem;
}

.user-profile-body-part--1-profile-links-head{
    text-align: left;
    color: var(--secondary-fore);
    margin: 0;
}

.user-part--1-profile-icons-parent{
    display: inline-block;
    margin: 10px;
    margin-left: 0;
}

.user-profile-body-part--1-profile-links-head-master{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.user-profile-body-part--1-profile-links-head-slave a{
    color: var(--secondary-fore);
    text-align: right;
    font-size: .6rem;
    text-decoration: none;
    cursor:  pointer;
}

.user-profile-body-part--1-profile-links-cont{
    overflow: hidden;
    width: auto;
    flex: .95;
    white-space: nowrap;
}

.user-profile-body-part--1-profile-links-slave{
    flex: .05;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile-body-part--1-profile-links-slave i{
    color: var(--primary-fore);
    text-align: center;
    margin: auto;
}

.user-profile-body-part--1-profile-links--master{
    display: flex;
    position: relative;
}

.user-profile-body-mask-right {
    position: absolute;
    right: 5%;
    top: 22%;
    width: 20px;
    height: 30px;
    background: linear-gradient(270deg, var(--secondary-back) 50%, var(--secondary-fore) 69.58%);
    filter: blur(8px);
}

.user-part--1-profile-icons{
    background-color: var(--primary-opaque);
    color: var(--primary-fore);
    cursor: pointer;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 4px 0;
}

.user-part--1-profile-icons i{
    margin-left: 10px;
}

.user-part--1-profile-icons p{
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.user-profile-body-part--1-profile-cta-cont{
    margin-top: 20px;
}

.user-profile-body-part--1-profile-cta{
    background-color: var(--primary-back);
    color: var(--primary-fore);
    outline: none;
    border: 0;
    padding: 12px 38px;    
    border-radius: 5px;
}

.user-profile-footer{
    background-color: var(--primary-back);
    color: var(--primary-fore);
    padding: 1rem 4rem;
}

.user-profile-footer-links{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.user-profile-footer-links i{
    font-size: 1.2rem;
}

.user-profile-footer-sub{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile-footer-subnes{
    background-color: #0085FF;
    border-radius:  5px;
    color: white;
    padding: 0 5px;
    margin-bottom: 1rem;
}

.user-profile-footer-links-cont{
    margin-top: 5px;
}

.user-profile-footer-links-cont i{
    cursor: pointer;
}

.user-profile-footer-name{
    font-size: 1rem;
    font-weight: 500;    
}

/* ----------------------- */

.user-profile-links{
    background-color: var(--secondary-back);
    flex:  1;
}

.user-links-profile-footer{
    background-color: var(--secondary-back);
    flex-grow: .05;
    display:  flex;
}

.user-profile-images{
    width: max-content; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-profile-img-link{
    color:  var(--secondary-fore);
    margin-top: 20px;
}

.user-profile-link-cont{
    width: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.user-profile-link-cont-box{
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 0.7rem 2rem;
    width: 20rem;
    cursor: pointer;
    background-color: var(--primary-opaque);
    color: var(--primary-fore);
    display:  flex;
}

.user-profile-link-cont-box-text{
    text-transform: capitalize;
}

.user-profile-link-cont-box-icon{
    font-size: 1.3rem;
    flex-grow: .1;
    border-radius: 4px;
    color:  var(--primary-fore);
}

.user-container{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width:  1200px){
    .user-profile-body-part--1-cover-image{
        max-width:  80%;
    }
}

@media (max-width:  1000px){
    .user-profile-body-part--1-cover-image{
        max-width:  100%;
    }
}

@media (max-width: 768px){
    .user-profile-body-part--1{
        flex-direction: column-reverse;
    }

    .user-profile-body-part--1-cover-image{
        max-width: 100%;
        max-height: 10%;
    }

    .user-profile-body-part--1-profile-intro{
        padding-right:  0;
    }

    .user-profile-body-part--1-profile-brand{
        margin-top: 50px;
    }

    .user-profile-body-part--1-profile-image-cont{
        top: -14%;
        z-index: 20;
        left: 4%;
        position: absolute;
    }

    .user-profile-body-part--1-cover,.user-profile-body-part--1-profile{
        flex: 0 0 auto;
        position: relative;
        width: 100%;
    }
}


@media (max-width:  400px){

    .user-profile-link-cont-box{
        width: 100%;
    }

    .user-profile-body-part--1-profile-image-cont, .user-profile-body-part--1-profile-image{
        height: 4rem;
    }

    .user-profile-body{
        padding:  2rem;
    }

    .user-profile-body-part--1-profile-image-cont{
        top:  -9%;
    }
}